.common {
    display: flex;
    width:  400px;
    background: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
    padding: 24px;
    align-items: center;
}

.common__item {
    margin: 0 12px;
    padding: 0 12px;
}