.common {
    display: flex;
    width: 400px;
    background: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
    padding: 24px;
    align-items: center;
}

.common__item {
    margin: 0 12px;
    padding: 0 12px;
}

.types {
    display: flex;
    width: 450px;
}

.types span {
    border-radius: 4px;
    margin: 8px;
    padding: 2px 6px;
    font-weight: 700;
    color: #fff;
}

.type-grass {
    background-color: #9BCC50;
}

.type-poison {
    background-color: #B97FC9;
}

.type-dark {
    background-color: #707070;
}

.type-normal {
    background-color: #A4ACAF;
}

.type-fire {
    background-color: #FD7D24;
}

.type-water {
    background-color: #4592C4;
}