.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 300px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-img {
    align-self: center;
    height: 250px;
    width: 250px;
    display: block;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.desc {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);;
}
.desc:last-child {
    border:none;
}

.desc__common,
.desc__stats {
    margin-bottom: 6px;
}

.desc__common span:last-child,
.desc__stats span:last-child {
    float: right;
}

.desc__types {
    display: flex;
    width: 450px;
}

.desc__types span {
    border-radius: 4px;
    margin: 8px;
    padding: 2px 6px;
    font-weight: 700;
}

.type-grass {
    color: #333;
    background-color: #9BCC50;
}

.type-poison {
    color: #fff;
    background-color: #B97FC9;
}

.type-dark {
    color: #fff;
    background-color: #707070;
}

.type-fighting {
    color: #fff;
    background-color: #D56723;
}

.type-steel {
    color: #333;
    background-color: #9EB7B8;
}

.type-ghost {
    color: #fff;
    background-color: #7B62A3;
}

.type-normal {
    color: #333;
    background-color: #A4ACAF;
}

.type-fire {
    color: #fff;
    background-color: #FD7D24;
}

.type-water {
    color: #fff;
    background-color: #4592C4;
}

.type-flying {
    color: #333;
    background-color: #3DC7EF;
}

.type-psychic {
    color: #fff;
    background-color: #F366B9;
}

.type-fairy {
    color: #333;
    background-color: #FDB9E9;
}

.type-ice {
    color: #333;
    background-color: #51C4E7;
}

.type-dragon {
    color: #333;
    background: linear-gradient(to bottom, #EED535, #F16E57);
}

.type-ground {
    color: #fff;
    background: linear-gradient(to bottom, #5fb371 15%, #462d05 35%);
}

.type-electric {
    color: #333;
    background-color: #EED535;
}

.type-rock {
    color: #fff;
    background-color: #A38C21;
}

.type-bug {
    color: #fff;
    background-color: #729F3F;
}